<div class="container">
    <div class="header">
        <div class="form-control">
            <input class="form-control" type="text" placeholder="search text here.." [(ngModel)]="filter">
        </div>
    </div>
</div>
<a [routerLink]="['../addemployee']" class="btn btn-outline-secondary" style="float: right;margin-bottom: 10px;">Add
    Employee</a>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Full Name</th>
            <th>Designation</th>
            <th>Date of joining</th>
            <th>Department Id</th>
            <th>Active</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let emp of employeeService.employees | filter:filter | paginate:{itemsPerPage:3,currentPage:page}">
            <td>{{emp.id}}</td>
            <td>{{emp.employeeName}}</td>
            <td>{{emp.designation}}</td>
            <td>{{emp.dateOfJoining}}</td>
            <td>{{emp.departmentId}}</td>
            <td>{{emp.active}}</td>
            <td><button class="btn btn-sm btn-outline-danger" (click)="DeleteEmployee(emp.id)">X</button>&nbsp;<button
                    class="btn btn-info" (click)="updateEmployee(emp.id)" style="margin-left: 10px;">Edit</button></td>
        </tr>
    </tbody>
</table>

<div class="footer">

    <pagination-controls (pageChange)="page=($event)"></pagination-controls>

</div>