<div class="container">
   <h2 style="text-align: center; font-size: 200%;font-family: fantasy;">{{title}}</h2>
   <div class="card">
      <div class="card-body"></div>
      <router-outlet></router-outlet>
   </div>

   <!-- <app-list-employee></app-list-employee>
    <app-add-employee></app-add-employee>
   <div class="jumbtron">
      <h1 class="display-4 text-center">Clinic Management System</h1>
      <hr>
      <div class="row">
         <div class="col-md-5">
            <app-add-employee></app-add-employee>
         </div>
         <div class="col-md-7">
            <app-list-employee></app-list-employee>
         </div>
      </div>
   </div>-->
   <footer class="footer">
      <div class="container">
         <span>ALL Rights reserved 2023 @Sarbas</span>
      </div>
   </footer>
</div>